@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



body{
 
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88'%3E%3Cg fill='%23f2ecfb' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M29.42 29.41c.36-.36.58-.85.58-1.4V0h-4v26H0v4h28c.55 0 1.05-.22 1.41-.58h.01zm0 29.18c.36.36.58.86.58 1.4V88h-4V62H0v-4h28c.56 0 1.05.22 1.41.58zm29.16 0c-.36.36-.58.85-.58 1.4V88h4V62h26v-4H60c-.55 0-1.05.22-1.41.58h-.01zM62 26V0h-4v28c0 .55.22 1.05.58 1.41.37.37.86.59 1.41.59H88v-4H62zM18 36c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm16-26a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 58a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 78a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zM34 4a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm-8 82a2 2 0 1 1 4 0v2h-4v-2zm0-68a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V18zM66 4a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm0 72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm-48 0a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm0-72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm24-4h4v2a2 2 0 1 1-4 0V0zm0 60a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V60zm14-24c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm-28-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 26a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM36 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-8-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 68a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-34a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-12a2 2 0 1 0 0 4 6 6 0 1 1 0 12 2 2 0 1 0 0 4 10 10 0 1 0 0-20zm-64 0a2 2 0 1 1 0 4 6 6 0 1 0 0 12 2 2 0 1 1 0 4 10 10 0 1 1 0-20zm56-12a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-48 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm24 32a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-4a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm36-36a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM10 44c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm56 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm8 24c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zM3 68c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm0-48c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm71 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm6 66a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM8 86a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-68A6 6 0 1 1 8 2a6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm36 36a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'/%3E%3C/g%3E%3C/svg%3E");
*/
background-color: rgb(4, 221, 221);
background-image: url('../../storage/images/magicpattern-eHH_5rn3xnU-unsplash.jpg');
background-repeat: repeat;
background-size: auto; 
margin:0 auto;  
max-width: 1030px;


}


*{
    font-family: Nunito;  
    margin:0; 
    
}



.profile{
    /* max-width: 900px; */
    margin: 0 auto;
}

.heading-custom{
    font-family: Nunito; 
    color:black;
    
}

h1{
    font-size: 2rem;
    color: rgb(5, 5, 48);
    font-weight: 800;
    padding: 1em 0;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    color: rgb(5, 5, 48);
    font-weight: 800; 
    padding:0.3em;     
}

h3{
    font-size: 2rem;
    color: rgb(5, 5, 48);
    font-weight: 800;
    padding: 1em 0;

}

strong{
    color: rgb(5, 5, 48);
}
.middle{
    display: flex;
    justify-content:center;
    align-items:center;
}

.middle .link, .link2{
    margin: 1em 2em; 
}
.center{
    margin: 0 auto;
    min-height:90vh;
}

table{
    margin: 0 auto;
    border-collapse: collapse;
}
.row2{
    white-space: nowrap;
}


thead{
   color:white;
   background-color: #140454;
   font-size: 1rem;
   cursor:pointer;
   font-weight: 800;
}
thead td{
    padding: 0.5em;
}

tbody{
    background: #ebe0ff;
    padding:0.7em;
    text-align: bottom;
}
tbody td{
    padding:0.7em;
  
}

main{
    padding:2em;
}
.background{
    background-color: rgb(111, 115, 129);
    height: 350px;
    border-radius: 1em;
    display: flex;
    align-items:flex-end;
}

.picture{
    height:250px;
    width:200px;
    background-color: rgb(182, 193, 253);
    border-radius: 1em;
    display: flex;
    justify-content:center;
    align-items:center;
    color: white;
    border: 1px solid white;
    margin: 1em
}

.info{
    background-color: rgb(218, 218, 218);
    padding: 0.5em 2em;
    border-radius: 1em;
    margin: 1em 0;
    font-size: 1rem

}

.input{
    border-radius: 0.3em;
    width: 280px;
    margin:0.5em;
}
textarea{
    border-radius: 0.3em;
    margin:0.5em 0;
}

.link{
    
        background-color: #963b8a;
        font-size: 0.7rem;
        padding: 0.1em 1.3em;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 900;
        border-radius: 1em;
        color: white;
        margin: 1em 0;
        border: none; 
}
       

.link2{
    
    background-color: #777777;
    font-size: 0.7rem;
    padding: 0.1em 1.3em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    border-radius: 1em;
    color: white;
    margin: 1em 0;
    border: none;
}

.profile-img-btn{
        color:white;
        background-color:  #391776
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Upload new profile picture';
    display: inline-block;
    background-color: #963b8a;
    font-size: 0.7rem;
    padding: 0.1em 1.3em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    border-radius: 1em;
    color: white;
    cursor: pointer;
    margin: 1em 0;
    border: none;
  }

 


  @media (max-width: 1000px) {
    table{
        font-size: 0.85em;
    }
  

  @media (max-width: 900px) {
    table{
        font-size: 0.85em;
    }
    .row6{
        display:none;
    }
    .flex{
        display:flex;
        flex-direction: column;
    }
} 
@media (max-width: 800px) {
    .row5{
        display:none;       
    }
} 

@media (max-width: 700px) {
    .row4{
        display:none;
              
    }
} 
}





.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 240px;
    animation-name: beesandbombs;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.82, 0.01, 0.15, 1.01);
  }
  .loading .circle {
    position: relative;
    background: rgb(5, 68, 168);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 10px;
    float: right;
    animation-name: beesandbombscircle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.82, 0.01, 0.15, 1.01);
  }
  .loading .circle:before {
    content: "";
    position: absolute;
    background: #2980b9;
    width: 50px;
    height: 50px;
    animation-name: beesandbombscirclebox;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.82, 0.01, 0.15, 1.01);
  }
  .loading .circle:nth-child(1)::before {
    left: 0;
    bottom: 0;
    border-bottom-left-radius: 40px;
  }
  .loading .circle:nth-child(2)::before {
    right: 0;
    bottom: 0;
    border-bottom-right-radius: 40px;
  }
  .loading .circle:nth-child(3)::before {
    top: 0;
    left: 0;
    border-top-left-radius: 40px;
  }
  .loading .circle:nth-child(4)::before {
    top: 0;
    right: 0;
    border-top-right-radius: 40px;
  }
  .loading:before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background: white;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    animation-name: beesandbombsrev;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.82, 0.01, 0.15, 1.01);
  }
  @keyframes beesandbombs {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
  @keyframes beesandbombsrev {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    52% {
      visibility: hidden;
    }
    100% {
      transform: translate(-50%, -50%) rotate(0deg);
      visibility: hidden;
    }
  }
  @keyframes beesandbombscircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  @keyframes beesandbombscirclebox {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    51% {
      visibility: visible;
    }
    100% {
      visibility: visible;
    }
  }


  /*********************Map marker************************/
  .marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
  }

  .marker:hover {
    z-index: 1;
  }

  
.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #00cae9;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}
.pin:after {
  content: "";
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #e6e6e6;
  position: absolute;
  border-radius: 50%;
}

.bounce {
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.pulse {
  background: #d6d4d4;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2;
}
.pulse:after {
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px #00cae9;
  animation-delay: 1.1s;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }

}